/**
 * Home CSS
 */

.main--index{

}

	.fullscreen--home{
		background:#cccccc;
		@include rem('margin-bottom',30px);
		code,a{
			color: white;
		}
	}

	.home-centralised{
		color: white;
		margin: 0 auto;
		text-align: center;
		a{
			@extend .scroll-up;
			color: white;
			&:hover,&:visited,&:active{
				color: white;
				border: 0;
				text-decoration: none;
			}
		}

		@include at-breakpoint($s){
			max-width: 316px;
		}

		@include at-breakpoint($m_up){
			width: 50%;	
		}
	}

	.js .home-centralised{
		opacity: 0;
	}
		.home-logo{
			display: block;
			@include rem('margin', 0 auto $base_ie auto);
			width: 75%;
		}

		.server-name-form{

		}
			.server_ip_input{
				width:70% !important;
				@include border-right-radius(0);
				margin-right: 5%;
			}
			.server_port_input{
				@include border-left-radius(0);
				width: 25% !important;
			}
			.server-name-form__input{
				width: 100%;
				float: left;
				@include border-radius(2px);
				border: none;
			}
			.server-name-form__submit{
				width: 35%;
				margin: 0 auto;
				float: right;
				background: #3eb7b2;
				&:hover{
					background:lighten(#3EB7B2,5%);
				}
				@include rem('margin-bottom',$base_ie);
				color: #fff;
				font-weight: bold;
				border: none;
				cursor: pointer;
				@include border-left-radius(2px);
			}

	.home-loading{
		opacity: 0;
		text-align: center;
		h2{
			@include rem('font-size',45px);
			color: white;
		}
	}

	.scroll-down,.scroll-up{
		@include rem('font-size',20px);
		cursor: pointer;
	}


.about{
	
}

.about{
	h3{ @include rem('margin-top',$base_ie); }
	small{ color: grey; }
	text-align: center;
}
