/**
 * Buttons
 */

.btn, input[type="submit"].btn{
	display: block;
	background: $clr_default;
	border: none;
	@include rem('min-width',60px);
	@include rem('margin-bottom',$base_ie);
	margin: 0;
	@include rem('padding',8px 11px);
	@include border-radius($radius);
	outline: none;
	@include rem('font-size', 11px);
	font-family: inherit;
	color: #fff;
	cursor: pointer;

	&:hover{
		background: lighten($clr_default,5%);
	}

	&:active{
		background: darken($clr_default,5%);
	}

	&:visited{
		color: #fff;
	}
}

.btn--success, input[type="submit"].btn--success{

	background: $clr_success;

	&:hover{
		background: lighten($clr_success,5%);
	}

	&:active{
		background: darken($clr_success,5%);
	}
}

.btn--warning, input[type="submit"].btn--warning{

	background: $clr_warning;

	&:hover{
		background: lighten($clr_warning,5%);
	}

	&:active{
		background: darken($clr_warning,5%);
	}
}

.btn--problem, input[type="submit"].btn--warning{

	background: $clr_problem;

	&:hover{
		background: lighten($clr_problem,5%);
	}

	&:active{
		background: darken($clr_problem,5%);
	}
}


