
/**
 * typography.scss
 * all base font styles,
 * paragraphs, headings, lists
 */

// Shared paragraph sizes

p,
ul,
ol,
input, 
textarea{
	font-weight: $medium;
	font-size: $p;
}

// Paragraph Styles

p{
	@include rem('margin-bottom',$base_ie);

	&:last-child{
		margin: 0;
	}
}

// Big text ideal for the first paragraph in an article

.lead{
	font-size: $lead;
	@include rem('line-height',20px);
}

// Small type ideal for captions

.small{
	@include rem('font-size',11px);
	@include rem('line-height',20px);
}

// Links

a,
a:visited{
	color: $link;
	text-decoration: none;
}

a:hover{
	text-decoration: none;
	color: $link_hover;
	border-bottom: 1px solid $link_hover;
}

// Headings

h1,h2,h3,h4,h5,h6{
	font-family: $heading_font;
	font-weight: $semibold;
	color: #292929;
	line-height: 1.3;
	letter-spacing: -1px;
	@include rem('margin-bottom',$base_ie);
}
h1{ 
	font-size: $h1;
}

h2{ 
	font-size: $h2;
}

h3{ 
	font-size: $h3;
}

// Text transforms

strong{ font-weight: bold; }

em{ font-style: italic; }

// Lists

ul {	
	list-style-type: disc;
	@include rem('margin',0 0 $base_ie $base_ie);
}

ol {
	list-style-type: decimal;
	font-weight: normal;
	@include rem('margin',0 0 $base_ie $base_ie);
}

pre{
	//margin-bottom: size(1);
}